* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Poppins", sans-serif;
}

body {
    background: #f5f7fa;
    color: #374151;
    line-height: 1.7;
}

/* HEADER */
.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1f2933;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    z-index: 1000;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

nav a {
    color: #e5e7eb;
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    font-weight: 500;
}

nav a:hover {
    color: #ffee00;
}

/* HERO */
.hero {
    height: 100vh;
    background-color: #8db3f0 ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000076;
}

.hero h1 {
    font-size: 44px;
    font-weight: 700;
    position: absolute;
    margin-left: -495px;
    margin-top: -50px;
}

.hero p {
    margin-top: 30px;
    margin-left: -90px;
    font-size: 16px;
    opacity: 0.9;
    position: absolute;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 80px;
    margin-left: -125px;
    padding: 12px 36px;
    background: #c2a14d;
    color: #1f2933;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* SECTIONS */
.section {
    padding: 100px 20px;
    max-width: 1100px;
    margin: auto;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 18px;
    color: #1f2933;
}

.section p {
    font-size: 15px;
    max-width: 800px;
}

/* LIGHT SECTION */
.light {
    background: #ffffff;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.grid img {
    width: 100%;
    border-radius: 14px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
}

.card {
    background: #ffffff;
    padding: 26px;
    text-align: center;
    border-radius: 16px;
    font-weight: 500;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 16px;
}

/* FOOTER */
footer {
    background: #1f2933;
    color: #d1d5db;
    text-align: center;
    padding: 30px 20px;
    font-size: 14px;
}

footer span {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    nav {
        display: none;
    }

    .hero h1 {
        font-size: 32px;
    }
    .logo{
        font-size: 13px;
    }
    .hero-content h1{
        font-size: 20px;
        margin-left: -150px;
        margin-top: -30px;
    }
    .hero-content p{
        margin-left: -85px;
        margin-top: 40px;
    }
    .btn{
        margin-left: -130px;
    }
}